#container {
  width: 80%;
  height: fit-content;
  background-color: #d7d2cc;
  margin-bottom: 10vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 15px 20px 10px -10px rgb(0, 0, 0, 0.4);
  padding: 2vw 0 4vw 0;
}

/* Right view style */
#contentContainer {
  width: 90%;
  height: fit-content;
  background-color: #d7d2cc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 1.6vw;
}

#searchContainer {
  height: 3.2vw;
  width: 70%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 2vw;
}

#searchContainer form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#searchContainer i {
  position: absolute;
  z-index: 4;
  top: 17.6vw;
  font-size: 2vw;
  right: 35vw;
  color: rgb(160, 152, 168);
  transition: 0.3s;
}

#searchContainer input {
  margin-right: 3vw;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.3vw;
  height: 3.2vw;
  width: 20vw;
  border: none;
  outline: none;
  background-color: #d3cdc6;
  padding: 0 1vw 0 4vw;
}

#searchContainer input:focus {
  border: 0px;
  /* border-bottom: 2.5px solid blue;
  border-bottom-style: outset; */
  -webkit-box-shadow: inset 0px -0.15vw 0px 0px  rebeccapurple;
  -moz-box-shadow: inset 0px -0.15vw 0px 0px rebeccapurple;
  box-shadow: inset 0px -0.15vw 0px 0px  rebeccapurple;
  background-color: #d3cdc6;
  transition: 0.5s;
}

#content {
  font-size: 1.4vw;
  box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.4);
  background-color: rgb(235, 235, 235);
  width: 40%;
  height: 12vw;
  padding: 0.7vw;
  margin: 2.4vw 0 0 3.3vw;
  border-radius: 6px;
  transition: 0.9s;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  background: linear-gradient(145deg, #e6e1da, #c2bdb8);
  box-shadow: 6px 6px 12px #b2aea9, -6px -6px 12px #fcf6ef;
}

#content:hover {
  cursor: pointer;
  /* background-color: rgb(0,0,0, 0.1); */
  background: linear-gradient(145deg, #c2bdb8, #e6e1da);
  box-shadow: 6px 6px 12px #b2aea9, -6px -6px 12px #fcf6ef;
}

#workspace-img {
  position: absolute;
  width: 100%;
  height: 48.7vw;
  z-index: -2;
  top: 0;
  filter: blur(3px);
  pointer-events: none;
}

#rightView h1 {
  color:rebeccapurple;
  background-color: #d7d2cc;
  padding: 0 7% 0 3%;
  width: fit-content;
  font-size: 3.5vw;
  margin: -6% 0 0 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 15px 20px 10px -10px rgb(0, 0, 0, 0.4);
}

#rightView {
  width: 80%;
  min-height: 33.804vw;
  height: fit-content;
  background-color: rgb(235, 235, 235);
  margin-left: 20%;
  display: flex;
  padding-top: 15vw;
  z-index: 1;
  position: absolute;
  flex-direction: column;
}

#backBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(108, 135, 155);
}

#backBtn i {
  font-size: 1.8vw;
}

#backBtn p {
  font-size: 1.1vw;
  font-weight: 700;
}
