#profileContainer {
    width: 80%;
    height: 20vw;
    background-color: #d7d2cc;
    margin-bottom: 10vw;
    align-self: center;
    border-top-right-radius: 10px;
}

#inp {
    background-color: transparent;
    border: 0;
}