<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/error/error.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 - Can not access to the address</title>
</head>

<body>
        <img id="logo" src="https://i.chungta.vn/2017/12/25/LogoFPT-2017-copy-3042-1513928-4697-9171-1514166704.jpg">

        <div id="container">
            <div id="insideContainer">
                <div class="contentLeft content">
                    <center>
                    <h1 style="font-size: 3.5vw;">401</h1>
                    <h3>Unauthorized</h3>           
                </center>
                <p>Can not access to this page because you are not logging in!</p>
                </div>
                <div id="line"></div>
                <div class="contentRight content">
                    <img id="warningImg" src="https://icon-library.com/images/attention-icon/attention-icon-2.jpg">
                    <a href="/" style="font-size: 1.05vw;">Return to Login page</a>
                </div>
            </div>
        </div>

</body>

</html>