<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/test/home.css">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">
    <title>Document</title>
</head>

<body>
    <div id="leftView">
        <div id="leftView-top">
            <img id="logo"
            draggable="false"
                src="https://i.chungta.vn/2017/12/25/LogoFPT-2017-copy-3042-1513928-4697-9171-1514166704.jpg">
            <nav>
                <ul>
                    <a href="#home"><li><i class="fas fa-home" id="icon"></i><p id="test">Home</p></li></a>
                    <a href="#profile"><li><i class="fas fa-user-circle" id="icon"></i>Profile</li></a>
                </ul>
            </nav>
        </div>

        <div id="leftView-bottom">
            <nav>
                <ul>
                    <a href="#logout"><li><i class="fas fa-sign-out-alt" id="icon"></i>Logout</li></a>
                </ul>
            </nav>
        </div>
    </div>

    <div id="rightView">
        <div id="container">
            {{#each result}}
            <a id="content" href='#{{course_id}}'>
                <p>{{courseName}}</p>
                <p>{{tutor_id}}</p>
                <p>{{description}}</p>
            </a>
            {{/each}}
        </div>

    </div>


</body>

</html>