<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all account</h1>
    {{#each result}}
    <div>
        <p>{{username}}</p>
        <p>{{password}}</p>
        <p>{{role}}</p>
        <a href="/admin/home/delete/{{user_id}}">delete</a>
    </div>
    {{/each}}
</body>
</html>