header {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 5px solid rgb(68, 68, 160);
    border-top-width: 0;
  }
   
  img {
    width: 185px;
    height: 120px;
  }
   
  h1 {
    text-align: center;
    font-size: 3rem;
  }
   
  h2 {
    margin-left: 14.5rem;
    font-size: 2rem;
  }
   
  p {
    margin-right: 18.5rem;
    margin-top: 0rem;
  }
   
  button {
    width: 30%;
    height: 35px;
    border-radius: 15px;
    margin-left: 11.5rem;
    background: rgb(255, 42, 31);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }
   
  button:hover {
    background-color: red;
  }
   
  #background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/118579673_104310894747759_6933131481337172275_o.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_ohc=vjwuzhHmb8gAX8xtWdz&_nc_ht=scontent.fhan2-1.fna&oh=6fa515161f4eeab1773e5b809fcefeef&oe=5FA3B484);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
   
  #form {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    background: white;
    width: 600px;
    margin-left: 35rem;
    margin-top: 5rem;
    border-radius: 10px;
    height: 300px;
  }
   
  .username,
  .password {
    margin-left: 1.5rem;
    width: 80%;
    height: 40px;
    border-radius: 5px;
  }