#form {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    background: white;
    width: 500px;
    margin-left: 30rem;
    margin-top: 16rem;
    border-radius: 10px;
    height: 210px;
}

#input {
    margin-left: 8rem;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

#submit {
    width: 30%;
    height: 35px;
    border-radius: 15px;
    margin-left: 8.7rem;
    background: #5890FF;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    outline-style: none;
    margin-top: 2rem;
}

#submit:hover {
    background-color: #5871ff;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-image: url(https://career.fpt-software.com/wp-content/uploads/2020/07/fville-hanoi.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h3 {
    padding-left: 10rem;
    font-size: 1.5rem;
}
