<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index/login.css">
    <link rel="icon" href="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/favicon/1596790129/favicon.ico" type="image/gif" sizes="16x16">
    <title>FPT Training Portal - Login</title>
</head>

<body>
    <main>
        <div id="background">
            <header>
                <img src="https://i.chungta.vn/2017/12/25/LogoFPT-2017-copy-3042-1513928-4697-9171-1514166704.jpg">
                <h1>FPT Training Portal</h1>
            </header>
            <form id="form" method="POST" action="/">
                <h2>Login</h2>
                <h3>Username:</h3>
                <input autofocus type="text" name="username">
                <h3>Password:</h3>
                <input type="text" name="password">
                <button type="submit">Login</button>
            </form>
            <p>{{warning}}</p>
        </div>

    </main>
</body>

</html>