body {
    background-image: url(https://www.officelovin.com/wp-content/uploads/2019/01/talent-works-office-2.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 25;
}

#fadedBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#logo {
    position: absolute;
    width: 10%;
    height: auto;
    border-radius: 6px;
    z-index: -1;
}

#container {
    width: 50%;
    height: 20vw;
    margin-top: 12%;

    border-radius: 20px;

    
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

#insideContainer {
    width: 95.5%;
    height: 90%;
    background-color:  rgb(231, 224, 214);
    border-radius: 7px;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 2px 3px 30px 10px rgb(0, 0, 0);
}

#line {
    border-radius: 20px;
    width: 0.5%;
    height: 80%;
    align-self: center;
    background-color: rgb(233, 203, 203);
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgb(231, 224, 214);
    padding: 15px;
    font-size: 1.2vw;
}
.textStatus {
    font-size: 1.9vw !important;
    margin-top: -2% !important; 
    letter-spacing: 1px !important;
}

#errStatus {
    font-size: 4vw;
    margin-top: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 51, 51);
    text-shadow: 6px 6px 10px #807979;
    -webkit-text-stroke: 2px rgb(116, 1, 1);
}

.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

#warningImg {
    width: 60%;
    height: auto;
    
}
