<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/staff/account/trainee/add">
        <input type="text" name="username" >
        <input type="text" name="password" >
        <input type="datetime" name="dob">
        <input type="text" name="mainPL" >
        <input type="text" name="expDetail" >
        <input type="text" name="name" >
        <input type="text" name="age" >
        <input type="text" name="education" >
        <input type="text" name="toeic" >
        <input type="text" name="location" >
        <button type="submit">Add</button> 
    </form>
</body>
</html>