<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared/navbar.css">
    <link rel="stylesheet" href="/styles/trainer/home.css">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">
    <title>Document</title>
</head>

<body>
    {{> menuPartial parameter=active}}

    <div id="rightView">
        <div id="blurBackground"></div>
        <img id="workspace-img" src="https://image.freepik.com/free-photo/vintage-camera-pencil-open-laptop-twig-isolated-white-background_23-2147979091.jpg">
        <h1>All courses</h1>
        <div id="container">
            {{#each result}}
            <a id="content" href="/tutor/topic/redirect/{{course_id}}">
                <p>{{courseName}}</p>
                <p>{{../tutorName}}</p>
                <p>{{description}}</p>
            </a>
            {{/each}}
        </div>

    </div>


</body>

</html>