#rightView {
  width: 80%;
  min-height: 33.804vw;
  height: fit-content;
  background-color: rgb(235, 235, 235);
  margin-left: 20%;
  display: flex;
  padding-top: 15vw;
  z-index: 1;
  position: absolute;
  flex-direction: column;
}

#rightView h1 {
  color: rebeccapurple;
  background-color: #d7d2cc;
  padding: 0 7% 0 3%;
  width: fit-content;
  font-size: 3.5vw;
  margin: -6% 0 0 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#container {
  width: 80%;
  min-height: 20vw;
  height: fit-content;
  margin-bottom: 10vw;
  align-self: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 2;
  box-shadow: 14px 12px 10px -5px rgb(0, 0, 0, 0.4);
  padding: 2vw 0 0 0;
  align-items: center;
  background-color: #d7d2cc;
}

#searchContainer {
  height: 3.2vw;
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
}

#searchContainer form {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#searchIcon {
    position: absolute;
    z-index: 4;
    top: 17.2vw;
    font-size: 1.5vw;
    left: 15.5vw;
    color: rgb(160, 152, 168);
    transition: 0.3s;
}

#searchContainer input {
  margin-right: 3vw;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.3vw;
  height: 3.2vw;
  width: 18vw;
  border: none;
  outline: none;
  background-color: #d3cdc6;
  padding: 0 3.6vw 0 4vw;
}

#searchContainer input:focus {
  border: 0px;
  /* border-bottom: 2.5px solid blue;
    border-bottom-style: outset; */
  -webkit-box-shadow: inset 0px -0.15vw 0px 0px rebeccapurple;
  -moz-box-shadow: inset 0px -0.15vw 0px 0px rebeccapurple;
  box-shadow: inset 0px -0.15vw 0px 0px rebeccapurple;
  background-color: #d3cdc6;
  transition: 0.5s;
}

#contentContainer {
  width: 100%;
  min-height: 20vw;
  height: fit-content;
  background-color: #d7d2cc;
  margin-bottom: 5vw;
  margin-top: 2vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
}

#contentContainer form {
  width: 100%;
  height: fit-content;
  font-family: "Open Sans";
  font-size: 1.06vw;
  padding: 2vw 0 1vw 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}

#formContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 80%;
  height: 12vw;
  background-color: transparent;
  border-radius: 7px;
  background: #d3cdc6;
  box-shadow: 7px 7px 14px #b3aea8, -7px -7px 14px #f3ece4;
}

#leftFormContent {
  width: 100%;
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 1vw;
  padding-right: 5vw;
  border-right: 20px;
}
textarea {
  margin: 0 2vw -2vw 2vw;
  font-size: 1.02vw;
  width: 20vw;
  height: 4vw;
  resize: none;

  border: none;
  outline: none;
  background-color: transparent;
  background-color:  #cec7bf;
  padding: 0.5vw 1vw 0.5vw 1vw;
}
#rightFormContent {
  cursor: pointer;
  color: whitesmoke;
  overflow: hidden;
  background-color: rgb(182, 140, 122);
  width: 22%;
  height: 100%;
  padding-left: 0.5vw;
  white-space: nowrap;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#rightFormContent p {
  padding-right: 1.2vw;
  font-size: 1.1vw;
  font-weight: bold;
}
#rightFormContent i {
    font-size: 1.8vw;
}

#rightFormContent:hover {
  width: 33%;
}

input {
  margin: -2vw 2vw -2vw 2vw;
  font-size: 1.02vw;
  width: 20vw;
  height: 1.5vw;
  border: none;
  outline: none;
  background-color: transparent;
  background-color:  #cec7bf;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-family: "Open Sans";
}

input:focus, textarea:focus {
  border: 0px;
  /* border-bottom: 2.5px solid blue;
    border-bottom-style: outset; */
  -webkit-box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  -moz-box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  background-color: #cec7bf;
  transition: 0.5s;
}

#formBtn {
  padding: 2.5vw 5.5vw 2.4vw 3vw;
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 15%;
  height: 2.6vw;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1vw;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.4);
  outline: none;
  border: none;
  transition: 0.2s;
}

.deleteBtn {
  background-color: #af3535;
  margin-left: 2.4vw;
  transition: 0.3s;
  text-decoration: none;
}

.deleteBtn:hover {
  transform: scale(1.1);
}

.submitBtn {
  background-color: rgb(178, 153, 206);
  cursor: not-allowed;
  transition: 0.3s;
  margin-left: 2.4vw;
}

#dateInput {
  width: 9vw !important;
}

.cancelBtn {
  background-color: rgb(195, 195, 195);
  cursor: not-allowed;
  transition: 0.3s;
  border-radius: 30px;
  width: 10%;
  height: 2.4vw;
  opacity: 0;
  z-index: -2;
  display: flex;
  font-size: 0.9vw;
  justify-content: space-evenly;
}

.cancelBtn:hover {
  transform: scale(1.04);
}

.cancelBtn i {
  transform: rotate(180deg);
  transition: 0.4s;
}

#line {
  width: 85%;
  background-color: rgb(200, 176, 176);
  height: 1px;
  align-self: center;
}

#form-left {
  display: flex;
  flex: 0.75;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
}
#form-left input,
#form-right input {
  margin: -2vw 2vw -2vw 2vw;
  font-size: 1.02vw;
  width: 15vw;
  height: 1.5vw;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #d4cfc8;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-family: "Open Sans";
}

#form-left input:focus {
  border: 0px;
  /* border-bottom: 2.5px solid blue;
    border-bottom-style: outset; */
  -webkit-box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  -moz-box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  box-shadow: inset 0px -0.16vw 0px 0px rgba(145, 87, 87, 1);
  transition: 0.5s;
}

#form-right {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1vw;
  justify-content: space-around;
  align-items: center;
}

b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Utilities */

#blurBackground {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-height: 48.7vw;
  background-color: rgb(0, 0, 0, 0.3);
}
#workspace-img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -2;
  filter: blur(3px);
  top: -8vw;
}

/* Add form */

#addBtn {
  position: fixed;
  width: 5vw;
  height: 5vw;
  top: 33%;
  left: 92%;
  background-color: #a59b8e;
  z-index: 1;
  box-shadow: 3px 4px 8px rgb(0, 0, 0, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.4s;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(12.5%, #a59b8e), color-stop(100%, #a59b8e)); webkit */
  display: flex;
  justify-content: center;
  align-items: center;
}

#addBtn:hover {
  background:  #d7d2cc;
  cursor: pointer;
  box-shadow: 12px 8px 8px rgb(0, 0, 0, 0.4);
  z-index: 4;
}
#addBtn:hover #addIcon {
  color: rebeccapurple;
  transform: scale(1.16);
}

#addIcon {
  font-size: 1.5vw;
  color: #747272;
  transition: 0.4s;
}
#addFormContainer {
  position: fixed;
  width: 84.8%;
  align-self: center;
  height: 100%;
  padding: 1vw 10vw 1vw 2vw;
  margin-top: -16%;
  margin-left: 17%;
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  z-index: -2;
  opacity: 0;
}

#addForm {
  position: fixed;
  background-color: #e0e0e0;
  width: 55%;
  height: 18vw;
  left: 13.25vw;
  top: 14vw;
  border-radius: 6px;
  transition: 0.5s;
  z-index: -2;
  opacity: 0;
}

#addFormContent {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

#addFormContent p {
  font-size: 1vw;
}

#addFormBtn {
  padding: 0.5vw 3vw 2.4vw 3vw;
  display: flex;
  justify-content: flex-end;
}

.cancelBtnAddForm {
  background-color: #afafaf;
  transition: 0.3s;
  width: 55%;
  height: 2.1vw;
  border-radius: 50px;
  margin-top: 2vw;
}

.cancelBtnAddForm:hover,
.submitBtnAddForm:hover {
  transform: scale(1.1);
}

.submitBtnAddForm {
  background-color: rgb(115, 70, 160);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.2vw;
  width: 80%;
}

#addTitle {
  position: relative;
  font-size: 2vw;
  color: rebeccapurple;
  padding-left: 1.5vw;
}

#addForm input {
  margin: -2vw 2vw -2vw 2vw;
  font-size: 1.02vw;
  width: 20vw;
  height: 1.5vw;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #d8d8d5;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-family: "Open Sans";
}

#addFormContent select {
  width: 12vw !important;
}
#addDateInput {
  width: 10vw !important;
}

#addFormContent textarea,
#addFormContent select {
  background-color: #d8d8d5 !important;
}

#resetSearchIcon {
  position: absolute;
  align-self: center;
  z-index: -1;
  opacity: 0;
  font-size: 1.5vw;
  left: 37.5vw;
  cursor: pointer;
  color: rgb(151, 151, 151);
  transition: 0.3s;
}
#resetSearchIcon:hover {
  transform: scale(1.2);
}
.confirmDeleteForm {
  position: fixed;
  top: 30vh;
  left: 44vw;
  width: 30vw;
  height: 25vh;
  background-color: rgb(230, 227, 227);
  border-radius: 8px;
  z-index: -2;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#confirmDeleteBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2vw;
}

#cancelBtnDeleteForm {
  background-color: rgb(179, 179, 179);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 2.4vw;
  width: 8vw;
}

#cancelBtnDeleteForm:hover {
  transform: scale(1.04);
}

#deleteBtn {
  background-color: #af3535;
  margin-left: 2.4vw;
  transition: 0.3s;
  text-decoration: none;
  width: 8vw;
}


