/* Right view style */
#container {
    width: 80%;
    height: fit-content;
    background-color: #d7d2cc;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 15px 20px 10px -10px rgb(0, 0, 0, 0.4);
    padding: 2vw 0 4vw 0;
  }
  
  #content {
    font-size: 1.4vw;
    box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.4);
    background-color: rgb(235, 235, 235);
    width: 40%;
    height: 12vw;
    padding: 10px;
    margin: 2.4vw 0 0 3.3vw;
    border-radius: 6px;
    transition: 0.9s;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e1da, #c2bdb8);
    box-shadow: 6px 6px 12px #b2aea9, -6px -6px 12px #fcf6ef;
  }
  
  #content:hover {
    cursor: pointer;
    /* background-color: rgb(0,0,0, 0.1); */
    background: linear-gradient(145deg, #c2bdb8, #e6e1da);
    box-shadow: 6px 6px 12px #b2aea9, -6px -6px 12px #fcf6ef;
  }

#staff-workspace-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -2;
    filter: blur(3px);
    top: -8vw;
}

#rightView h1 {
    color: brown;
    background-color: #d7d2cc;
    padding: 0 7% 0 3%;
    width: fit-content;
    font-size: 3.5vw;
    margin: -6% 0 0 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #rightView {
    width: 80%;
    min-height: 33.804vw;
    height: fit-content;
    background-color: rgb(235, 235, 235);
    margin-left: 20%;
    display: flex;
    padding-top: 15vw;
    z-index: 1;
    position: absolute;
    flex-direction: column;
  }
  
  #backBtn {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      color: rgb(108, 135, 155);
  }   
  
  #backBtn i {
      font-size: 1.8vw;
  }
  
  #backBtn p {
      font-size: 1.10vw;
      font-weight: 700;
  }