<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared/navbar.css">
    <link rel="stylesheet" href="/styles/staff/home.css">
    <link rel="icon" href="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/favicon/1596790129/favicon.ico" type="image/gif" sizes="16x16">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">

    <title>FPT Training Portal - Homepage</title>
</head>
{{!-- <body>
    <h1>Staff home</h1>
    <a href="/staff/account/trainee">Go to trainee management</a><br><br>
    <a href="/staff/category">Go to category</a><br><br>
    <a href="/staff/account/trainer">Go to trainer management</a><br><br>
</body> --}}

<body>
    {{> menuPartial parameter=active}}

    <div id="rightView">
        <div id="blurBackground"></div>
        <img id="staff-workspace-img" src="https://gjkhai.github.io/khai/JS7/Images/office-table.jpg">
        {{!-- <h1>Home</h1> --}}
        <div id="container">

            <a id="content" href="/staff/account/trainee">
                <div>
                    <p>Trainee Account</p>
                    <i class="fas fa-user-graduate" id="homeIcon"></i>
                </div>
            </a>

            <a id="content" href="/staff/account/trainer">
                <div>
                    <p>Trainer Account</p>
                    <i class="fas fa-user-tie" id="homeIcon"></i>
                </div>
            </a>

            <a id="content" href="/staff/category">
                <div>
                    <p>Training Information</p>
                    <i class="fas fa-book-open" id="homeIcon"></i>
                </div>
            </a>

        </div>

    </div>


</body>

</html>