<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Topic</h2>
    <h1>{{coursename}}</h1>
    {{#each result}}
   <p> Topic: {{topicName}}</p> 
   <p>Description: {{description}} </p> 
    <p>Tutor: {{name}}</p>
    {{/each}}
</body>
</html>